# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3

# Entornos virtuales
venv/
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Node.js (si usas npm para algo, como Tailwind)
node_modules/

